# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
+ Popular programming languages for Data Science
+ Popular libraries used by Data Scientists
+ Known open source tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib


|Data Science Tools|
|------------------|
|MySQL|
|MongoDB|
|Apache Air Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author
Dolev Zaiderman